*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, Helvetica, sans-serif;

    background:#041C32;

    color:white;

}

.hero{

     height:90vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:0 20px;

}

.hero h1{

    font-size:56px;

    max-width:900px;

    line-height:1.2;


    color:#ECB365;

    margin-bottom:20px;

}

.hero h2{

    font-size:40px;

    margin-bottom:20px;

}

.hero p{

    font-size:22px;

    color:#EAEAEA;

    margin-bottom:40px;

}

button{

    background:#ECB365;

    color:#041C32;

    padding:18px 40px;

    border:none;

    border-radius:8px;

    font-size:20px;

    cursor:pointer;
    white-space:nowrap;

    transition:0.3s;

}

button:hover{

    background:white;

    transform:scale(1.05);

}
nav{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 80px;

    background:#05233d;

}

.logo{

    color:#ECB365;

    font-size:30px;

    font-weight:bold;

}

nav ul{

    display:flex;

    list-style:none;

    gap:40px;

}

nav ul li a{

    color:white;

    text-decoration:none;

    font-size:18px;

    transition:.3s;

}

nav ul li a:hover{

    color:#ECB365;

}
.features{
    padding:80px 60px;
    text-align:center;
}

.features h2{
    font-size:42px;
    color:#ECB365;
    margin-bottom:50px;
}

.feature-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.card{
    background:#0d2b45;
    width:300px;
    padding:30px;
    border-radius:12px;
    transition:0.3s;
}

.card h3{
    margin-bottom:20px;
    color:#ECB365;
}

.card p{
    color:#ddd;
    line-height:1.6;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 10px 20px rgba(0,0,0,.3);
}
.matches{
    padding:100px 60px;
    text-align:center;
}

.matches h2{
    color:#ECB365;
    font-size:42px;
}

.subtitle{
    color:#ddd;
    margin-top:15px;
    margin-bottom:50px;
}

.match-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.match-card{

    background:#12304b;

    width:320px;

    padding:30px;

    border-radius:15px;

    transition:.3s;

    box-shadow:0 10px 20px rgba(0,0,0,.2);

}

.match-card:hover{

    transform:translateY(-10px);

}

.match-date{

    color:#ECB365;

    font-size:14px;

}

.match-card h3{

    margin:20px 0;

}

.vs{

    font-size:26px;

    font-weight:bold;

    color:#ECB365;

}

.predict-btn{

    margin-top:25px;

}

.matches h2{

    color:#ECB365;

    font-size:42px;

    margin-bottom:50px;

}

.match-container{

    display:flex;

    gap:30px;

    justify-content:center;

    flex-wrap:wrap;

}

.match-card{

    width:320px;

    background:#0d2b45;

    padding:30px;

    border-radius:15px;

    transition:.3s;

}

.match-card:hover{

    transform:translateY(-10px);

    box-shadow:0 10px 20px rgba(0,0,0,.3);

}

.match-card h3{

    margin-bottom:15px;

    color:#ECB365;

}

.match-card p{

    margin-bottom:20px;

}
/* ---------- Prediction Modal ---------- */

.modal{

    display:none;

    position:fixed;

    top:0;

    left:0;

    width:100%;

    height:100%;

    background:rgba(0,0,0,0.7);

    justify-content:center;

    align-items:center;

}

.modal-content{

    background:#12304b;

    padding:40px;

    border-radius:15px;

    width:400px;

    text-align:center;

}

.modal-content h2{

    color:#ECB365;

    margin-bottom:30px;

}

.team-input{

    margin-bottom:20px;

}

.team-input label{

    display:block;

    margin-bottom:10px;

}

.team-input input{

    width:100%;

    padding:12px;

    border:none;

    border-radius:8px;

    font-size:18px;

}

.close{

    float:right;

    font-size:30px;

    cursor:pointer;

}
.history{
    padding:80px;
    text-align:center;
}

.history h2{
    color:#ECB365;
    margin-bottom:40px;
}

#predictionTable{

    width:80%;

    margin:auto;

    border-collapse:collapse;

}

#predictionTable th{

    background:#ECB365;

    color:#041C32;

    padding:15px;

}

#predictionTable td{

    background:#12304b;

    padding:18px;

    border-bottom:1px solid #234;

}

.history h2{

    color:#ECB365;

    margin-bottom:40px;

}

#predictionList{

    max-width:700px;

    margin:auto;

}

.prediction-item{

    background:#12304b;

    margin:15px 0;

    padding:20px;

    border-radius:10px;

    color:white;

}